bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs
GorzdravBooking.sln.DotSettings.user
identifier.sqlite
src/Infrastructure/GorzdravBooking.db
src/Infrastructure/ApiClient/ApiService.cs
src/Infrastructure/Http/HttpClientFactorySetup.cs
src/Presentation/Server/GorzdravBooking.db